body {
    background: #272727
}

.x-container-first {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.x-container-first .x-main-banner {
    width: 70%;
    height: 257px;
    display: flex;
    align-items: center;
    justify-content: center
}

.x-container-first .x-banner-blackfriday {
    width: 60%;
    border: none;
    height: 300px;
    background-size: 100%
}

.x-container-first .box-discounts {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 27px
}

.x-container-first .box-discounts .box-percents {
    background: #272727;
    display: flex;
    box-shadow: 0px 9px 30px 6px #0d0d0d
}

.x-container-first .box-discounts .box-percents div {
    padding: 10px;
    transition: all 0.2s ease-in-out
}

.x-container-first .box-discounts .box-percents div.x-box-green {
    border-bottom: 5px solid #45a730;
    will-change: transform;
    transform: translateY(0%)
}

.x-container-first .box-discounts .box-percents div.x-box-green:hover {
    box-shadow: 0px 17px 30px 10px #45a730;
    transform: translateY(-2%)
}

.x-container-first .box-discounts .box-percents div.x-box-blue {
    border-bottom: 5px solid #005591;
    border-left: 1px solid #1a1a1a;
    will-change: transform;
    transform: translateY(0%)
}

.x-container-first .box-discounts .box-percents div.x-box-blue:hover {
    box-shadow: 0px 17px 30px 10px #005591;
    transform: translateY(-2%)
}

.x-container-first .box-discounts .box-percents div.x-box-light-blue {
    border-bottom: 5px solid #5541f7;
    border-left: 1px solid #1a1a1a;
    will-change: transform;
    transform: translateY(0%)
}

.x-container-first .box-discounts .box-percents div.x-box-light-blue:hover {
    box-shadow: 0px 17px 30px 10px #5541f7;
    transform: translateY(-2%)
}

.x-container-first .box-discounts .box-percents div.x-box-red {
    border-bottom: 5px solid #ab1727;
    border-left: 1px solid #1a1a1a;
    will-change: transform;
    transform: translateY(0%)
}

.x-container-first .box-discounts .box-percents div.x-box-red:hover {
    box-shadow: 0px 17px 30px 10px #ab1727;
    transform: translateY(-2%)
}

section#topMarcas {
    display: block !important
}

.slider-marcas {
    width: 60%;
    margin: 0 auto;
    margin-top: 52px !important
}

.slider-marcas .title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px
}

.x-vitrine {
    width: 100%;
    margin-top: 48px
}

.x-vitrine div {
    width: 90%;
    margin: 0 auto
}

.x-vitrine div h2 {
    text-align: center;
    color: #ffbc2a;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold
}

.x-vitrine div ul {
    display: block;
    box-shadow: unset;
    background: unset
}

.x-vitrine div ul li {
    margin-bottom: unset
}

.x-vitrine span.box-item.text-center {
    width: 17vw;
    height: 395px !important
}

.x-vitrine .slick-slider .slick-arrow {
    top: 55% !important
}

.slick-slider {
    background: #ffffff;
    border-radius: 10px
}

.slick-slider .slick-arrow {
    top: 73% !important
}

.slick-slider .slick-prev {
    left: 60px !important
}

.slick-slider .slick-next {
    right: 30px !important
}

section#topMarcas .slider-wrapper .slick-list a {
    box-shadow: unset;
    border: 1px solid black;
    padding: unset
}

section#topMarcas .slider-wrapper .slick-list a img {
    width: 70px
}

.x-categorias-desejada {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 50px
}

.x-categorias-desejada .x-best-category {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    box-shadow: 0px 0px 20px 0px #000000
}

.x-categorias-desejada .x-best-category h2 {
    color: #fff
}

.x-categorias-desejada .x-best-category ul {
    display: flex;
    color: #ffff
}

.x-banner-blackfriday ul {
    display: block;
    border: none
}

.x-banner-blackfriday img {
    width: 250px !important
}

.x-banner-blackfriday span.box-item.text-center {
    display: flex;
    justify-content: center;
    height: 300px !important;
    align-items: center;
    width: 99%;
    margin: auto;
    border: none;
    background-color: transparent;
    flex-direction: column
}

.x-banner-blackfriday span.price>* {
    float: unset !important;
    position: unset !important;
    margin-left: 0px !important;
    width: 135px !important
}

.x-banner-blackfriday .yv-review-quickreview {
    height: 30px;
    margin-left: 65px;
    margin-top: 16px
}

.x-banner-blackfriday .quant {
    display: none !important
}

.x-banner-blackfriday span.price {
    height: auto !important;
    display: flex !important;
    flex-direction: column;
    width: 200px !important;
    text-align: unset !important;
    margin-left: 151px
}

.x-banner-blackfriday a.product-image {
    height: auto !important
}

.x-banner-blackfriday li {
    height: 300px;
    margin: 0px !important
}

.x-banner-blackfriday ul.slick-dots {
    width: 21%;
    display: flex !important;
    height: 0px;
    top: -30px
}

.x-banner-blackfriday li#slick-slide011 {
    height: auto
}

.x-banner-blackfriday .bloco.imagem {
    float: left !important;
    position: absolute !important;
    left: 8%
}

.x-banner-blackfriday b.product-name {
    margin-left: 244px;
    width: 290px
}

.x-banner-blackfriday b.product-name a {
    text-align: left !important;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 23px !important
}

.x-banner-blackfriday span.best-price {
    color: black !important;
    font-size: 27px !important;
    text-align: left !important
}

.x-banner-blackfriday .botao-comprar-assync {
    margin: 0px !important;
    width: 100% !important;
    max-width: 100% !important
}

.x-banner-blackfriday .slick-arrow {
    top: 50% !important
}

.x-banner-blackfriday button.slick-prev.slick-arrow {
    left: -30px !important
}

.x-banner-blackfriday button.slick-next.slick-arrow {
    right: -28px !important
}

.x-banner-blackfriday span.price a {
    width: 100% !important
}

.x-banner-blackfriday ul.slick-dots li.slick-active button {
    background: #000;
    border-color: #000;
    outline: none
}

.x-banner-blackfriday ul.slick-dots li button {
    border: 1px solid black
}

.x-banner-blackfriday span.box-item.text-center:hover {
    border: none
}

.middle {
    background: #3c3c3c !important
}

.tpl-center {
    max-width: 1200px;
    margin: auto
}

span.tel-act-text {
    display: none !important
}

span.tel-greeting {
    display: none
}

span.tel-act-hours {
    display: none !important
}

span.usr-grt-text,
span.usr-act-text {
    display: none
}

#mainMenu li i {
    position: unset !important;
    color: white !important;
    font-size: 24px
}

a.topLevelLink.nav-title-top-level {
    display: flex !important;
    height: 60px !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center !important
}

li.hasSubmenu.superMarcas {
    height: 70px !important;
    margin: 0px !important;
    padding: 0px 19px !important;
    background-color: #212121 !important;
    padding-bottom: 20px !important
}

.h_televendas {
    width: 35px !important;
    margin-top: 17px !important
}

.h_myaccount {
    width: 26px !important;
    margin-top: 23px !important
}

.h_cart {
    width: 30px !important;
    height: 23px !important
}

span.badge.bg-danger.mini-cart-qty-admake {
    left: 15px !important;
    top: -9px !important;
    background: transparent !important
}

.wrapperRight {
    margin-top: 4px;
    background: #212121;
    border-radius: 5px;
    padding: 5px 30px
}

.x-title img {
    height: 100%;
    max-height: 400px;
    width: 100%
}

input#searchWidgetInput {
    background: #212121;
    border: none
}

button.clerk-search-btn {
    right: 0px !important;
    top: 0px !important;
    height: 33.5px !important
}

.bottom.bottom-down.ativo.animate {
    visibility: hidden
}

a.x-blackfriday-button {
    flex-direction: column;
    justify-content: center;
    color: #0F171D;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0px 14px
}

.x-blackfriday-link {
    display: flex;
    background: #ffc000;
    margin-left: -7px
}

.x-blackfriday-link i.fa.fa-bars {
    margin-bottom: 13px
}

.x-blackfriday-link i.fa.fa-tag {
    font-size: 25px
}

a.logo {
    margin-top: 8px
}

.x-bf-sobre h2:before {
    content: '';
    width: 72px;
    height: 2px;
    background: #00B7E4;
    display: block;
    position: absolute;
    left: 10px;
    top: 22px
}

.x-form-bf-news i.fa.fa-paper-plane {
    color: white
}

.x-bf-aproveitar {
    margin-top: 20px
}

span.box-item.text-center {
    height: 372px !important
}