.x-btn-saibaMais {
    text-align: center;
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: baseline
}

.x-btn-saibaMais a {
    padding: 10px;
    color: #01b43f;
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 15px
}

.x-btn-saibaMais a i {
    margin: 0px 5px
}

.x-btn-saibaMais a:hover {
    color: #00c243
}