.x-preferencias {
    background-color: #fff
}

.x-preferencias main {
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center
}

.x-preferencias .hidden {
    display: none
}

.x-preferencias .x-subtitle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px
}

.x-preferencias .x-subtitle:before,
.x-preferencias .x-subtitle:after {
    content: "";
    width: 90px;
    height: 1px;
    display: inline-block;
    background: #000;
    margin: 0 30px 9px
}

.x-preferencias label {
    display: block;
    font-weight: 300
}

.x-preferencias label:after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 4px solid #ffc000;
    border-radius: 50%;
    margin: 15px auto;
    cursor: pointer
}

.x-preferencias input:checked+label:after {
    background: #ffc000
}

.x-preferencias .x-title {
    width: 100%
}

.x-preferencias .x-title h2 {
    text-align: center;
    color: #ffc000;
    font-weight: bold;
    margin: 50px 0
}

.x-preferencias .x-pessoa {
    width: 100%
}

.x-preferencias .x-pessoa__options {
    text-align: center
}

.x-preferencias .x-pessoa__options div {
    display: inline-block;
    margin: 0 35px
}

.x-preferencias .x-pessoa__options label {
    display: block
}

.x-preferencias .x-categorias {
    margin-top: 70px;
    width: 100%
}

.x-preferencias .x-categorias__options--top,
.x-preferencias .x-categorias__options--bottom {
    text-align: center
}

.x-preferencias .x-categorias__options--top li,
.x-preferencias .x-categorias__options--bottom li {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    font-weight: 300;
    margin: 25px
}

.x-preferencias .x-categorias__options--top li label,
.x-preferencias .x-categorias__options--bottom li label {
    display: block;
    position: absolute;
    bottom: 35px;
    width: 84px;
    left: 0;
    right: 0;
    margin: 0 auto
}

.x-preferencias .x-categorias__options--top li label:after,
.x-preferencias .x-categorias__options--bottom li label:after {
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
    margin: 0 auto
}

.x-preferencias .x-categorias__options--epis {
    background: url("/arquivos/img-epis.jpg") no-repeat top #3c3c3c;
    background-position-y: 10px
}

.x-preferencias .x-categorias__options--higiene {
    background: url("/arquivos/img-higiene.jpg") no-repeat top #3c3c3c;
    background-position-y: 10px
}

.x-preferencias .x-categorias__options--food {
    background: url("/arquivos/img-food.jpg") no-repeat top #3c3c3c;
    background-position-y: 10px
}

.x-preferencias .x-categorias__options--ferramentas {
    background: url("/arquivos/img-ferramentas.jpg") no-repeat top #3c3c3c;
    background-position-y: 10px
}

.x-preferencias .x-categorias__options--jardim {
    background: url("/arquivos/img-jardim.jpg") no-repeat top #3c3c3c;
    background-position-y: 10px
}

.x-preferencias .x-categorias__options--informatica {
    background: url("/arquivos/img-informatica.jpg") no-repeat top #3c3c3c;
    background-position-y: 10px
}

.x-preferencias .x-categorias__options--automotivo {
    background: url("/arquivos/img-automotivo.jpg") no-repeat top #3c3c3c;
    background-position-y: 10px
}

.x-preferencias .x-categorias__options--odontologia {
    background: url("/arquivos/img-odontologia.jpg") no-repeat top #3c3c3c;
    background-position-y: 10px
}

.x-preferencias .x-categorias__options--escritorio {
    background: url("/arquivos/img-escritorio.jpg") no-repeat top #3c3c3c;
    background-position-y: 10px
}

.x-preferencias .x-marcas {
    margin-top: 70px;
    width: 100%
}

.x-preferencias .x-marcas__options {
    text-align: center
}

.x-preferencias .x-marcas__options li {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 90px;
    border: 1px solid #e5e5e5;
    margin: 20px 5px 30px
}

.x-preferencias .x-marcas__options li label {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto
}

.x-preferencias .x-marcas__options--3m {
    background: url("/arquivos/img-3m.png") no-repeat center
}

.x-preferencias .x-marcas__options--altacoppo {
    background: url("/arquivos/img-altacoppo.png") no-repeat center
}

.x-preferencias .x-marcas__options--audax {
    background: url("/arquivos/img-audaxco.png") no-repeat center
}

.x-preferencias .x-marcas__options--danny {
    background: url("/arquivos/img-danny.png") no-repeat center
}

.x-preferencias .x-marcas__options--fujiwara {
    background: url("/arquivos/img-fujiwara.png") no-repeat center
}

.x-preferencias .x-marcas__options--bralimpia {
    background: url("/arquivos/img-bralimpia.png") no-repeat center
}

.x-preferencias .x-marcas__options--veja {
    background: url("/arquivos/img-veja.png") no-repeat center
}

.x-preferencias .x-marcas__options--moldex {
    background: url("/arquivos/img-moldex.png") no-repeat center
}

.x-preferencias .x-marcas__options--marluvas {
    background: url("/arquivos/img-marluvas.png") no-repeat center
}

.x-preferencias .x-marcas__options--honeywell {
    background: url("/arquivos/img-honeywell.png") no-repeat center
}

.x-preferencias .x-marcas__options--luvex {
    background: url("/arquivos/img-luvex.png") no-repeat center
}

.x-preferencias .x-marcas__options--dupont {
    background: url("/arquivos/img-dupont.png") no-repeat center
}

.x-preferencias .x-marcas__options--soft {
    background: url("/arquivos/img-soft.png") no-repeat center
}

.x-preferencias .x-marcas__options--mapa {
    background: url("/arquivos/img-mapa.png") no-repeat center
}

.x-preferencias .x-frequencia {
    margin-top: 70px;
    width: 100%
}

.x-preferencias .x-frequencia__options {
    text-align: center
}

.x-preferencias .x-frequencia__options li {
    display: inline-block;
    width: 50px;
    margin: 0 25px
}

.x-preferencias .x-frequencia__options li span {
    font-weight: bold;
    font-size: 20px
}

.x-preferencias .x-email {
    margin-top: 70px;
    width: 100%
}

.x-preferencias .x-email input {
    display: block;
    width: 30%;
    margin: 0 auto;
    border: 2px solid #ffc000;
    border-radius: 18px;
    text-align: center;
    cursor: pointer
}

.x-preferencias .x-email input:focus {
    outline: none
}

.x-preferencias .x-email__input--error {
    text-align: center;
    margin-top: 3%;
    color: #f00;
    font-family: inherit;
    font-weight: 700
}

.x-preferencias .x-submit {
    margin: 34px 0 50px;
    width: 100%
}

.x-preferencias .x-submit input {
    display: block;
    width: 15%;
    background: #ffc000;
    color: #fff;
    border: none;
    font-weight: bold;
    margin: 0 auto
}