h2 {}

section.x-section-one {
    width: 80%;
    margin: auto;
    text-align: center;
    /* background:  #FFFFFF; */
}

.x-bf-newsletter h1 {}

.x-bf-newsletter h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.x-bf-newsletter {
    background: #3c3c3c;
    height: 110px;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 30px;
    width: 70%;
}

form.x-form-bf-news {
    display: flex;
    justify-content: space-around;
}

form.x-form-bf-news input {
    width: 35%;
    border-radius: 4px;
    max-width: 197px;
    height: 39px;
    background: #3c3c3c;
    border: 1px solid black;
    color: black;
}

form.x-form-bf-news input:nth-child(2) {
    width: 60%;
    max-width: 400px;
}

.countdown.play {
    justify-content: center;
    display: flex;
}

.x-countDown {
    background: #393939;
    padding: 25px 0px;
    margin-bottom: 30px;
    border-radius: 15px;
}

main {
    background: #272727;
}

img {}

.x-banner-bf img {
    width: 100%;
}

section.x-section-three {
    width: 95%;
    margin: auto;
    margin-top: 30px;
}

section.x-section-two {
    width: 95%;
    margin: auto;
}

.x-bf-sobre {
    background: white;
    padding: 35px;
    text-align: center;
}

.x-bf-sobre h2 {
    margin-bottom: 14px;
    color: #00B7E4;
    position: relative;
    width: 500px;
    margin: auto;
}

.x-bf-sobre h2:after {
    content: '';
    width: 72px;
    height: 2px;
    background: #00B7E4;
    display: block;
    position: absolute;
    right: 16px;
    top: 22px;
}

.x-bf-sobre h2:after {}

.x-bf-sobre p {
    line-height: 21px;
    font-size: 16px;
}

.x-bf-aproveitar h2 {
    color: #FFD82E;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    width: 500px;
    margin: auto;
}

.x-bf-aproveitar h2:before {}

.x-bf-aproveitar h2:before {
    content: '';
    width: 72px;
    height: 2px;
    display: block;
    background: #FFD82E;
    left: -40px;
    position: absolute;
    top: 32px;
}

.x-bf-aproveitar h2:after {
    content: '';
    display: block;
    position: absolute;
    width: 72px;
    height: 2px;
    background: #FFD82E;
    right: -40px;
    top: 32px;
}

.x-info-box {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.x-info-box div {
    width: 16.6%;
    font-weight: bold;
    text-align: center;
    border-right: 4px solid #272727;
    background: #1C1C1C;
    color: #fff;
    height: 180px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: center;
    line-height: 17px;
}

.x-info-box div:nth-child(1) {
    border-top: 5px solid #009FFF;
}

.x-info-box div:nth-child(2) {
    border-top: 5px solid #BE1AFA;
}

.x-info-box div:nth-child(3) {
    border-top: 5px solid #FF006C;
}

.x-info-box div:nth-child(4) {
    border-top: 5px solid #FF521F;
}

.x-info-box div:nth-child(5) {
    border-top: 5px solid #FFC92C;
}

.x-info-box div:nth-child(6) {
    border-top: 5px solid #62FF2C;
}

.middleArea {
    width: 95%;
    margin: auto;
}

form.x-form-bf-news select {
    width: 35%;
    max-width: 200px;
    border: 1px solid black;
    background: gray;
    color: white;
}

form.x-form-bf-news button {
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}